@import "variables";

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin theme ($bg: $lightColor, $font: $mainFont, $color: $primaryColor, $fontWeight: 400){
  background: $bg;
  font-family: $font;
  color: $color;
  font-weight: $fontWeight;
}

@mixin flex ($dir: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin font ($size: 18px, $color: $primaryColor, $transform: none) {
  font-size: $size;
  color: $color;
  text-transform: $transform;
}
