@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 400;
}

#root {
  display: flex;
  min-height: 100vh;
}

.offcanvas-nav {
  background: #FF473A;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 0;
  padding: 0;
  overflow-x: hidden;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all ease 0.8s;
}
.offcanvas-nav.active {
  width: min(80vw, 400px);
}
.offcanvas-nav .navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: max(100%, 256px);
  gap: 26px;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}
.offcanvas-nav .navigation-list__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 0 16px;
}
.offcanvas-nav .navigation-list__item input[type=text] {
  padding: 10px 13px;
  width: 100%;
  border: 2px solid #fcfcfc;
  outline: none;
  line-height: 16px;
  color: inherit;
  background: transparent;
}
.offcanvas-nav .navigation-list__item input[type=text]::-moz-placeholder {
  color: inherit;
}
.offcanvas-nav .navigation-list__item input[type=text]::placeholder {
  color: inherit;
}
.offcanvas-nav .navigation-list__item a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: inherit;
  text-decoration: none;
}
.offcanvas-nav .navigation-list__item a:hover {
  text-decoration: underline;
}
.offcanvas-nav .navigation-list__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.page-header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
}
.page-header__title {
  font-size: 18px;
  color: #FF473A;
  text-transform: none;
  margin: 0;
}
.page-header .nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: 0;
}
.page-header .nav-btn__line {
  height: 2px;
  width: 18px;
  background: #000;
}

.wrapper {
  height: calc(100vh - 60px);
}

.collections-page .search-bar {
  padding-top: 12px;
}
.collections-page .search-bar__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  width: 100%;
  border: 2px solid #FF473A;
}
.collections-page .search-bar__input {
  border: 0;
  outline: 0;
  color: #FF473A;
  width: 100%;
}
.collections-page .search-bar__input::-moz-placeholder {
  font-size: 18px;
  color: #FF473A;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
}
.collections-page .search-bar__input::placeholder {
  font-size: 18px;
  color: #FF473A;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
}
.collections-page .search-bar__advanced {
  font-size: 12px;
  color: #FF473A;
  text-transform: none;
}
.collections-page .search-bar__advanced:hover {
  text-decoration: underline;
}
.collections-page .collections-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 9px 0;
  gap: 18px;
}
.collections-page .collections-section__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 165px;
  overflow: hidden;
}
.collections-page .collections-section__card img {
  height: 124px;
  width: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
}
.collections-page .collections-section__card a {
  font-size: 12px;
  color: #FF473A;
  text-transform: uppercase;
  text-decoration: none;
}
.collections-page .collections-section__card a:hover {
  text-decoration: underline;
}

.tickets-page {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
}
.tickets-page__header {
  padding-top: 12px;
  width: 100%;
}
.tickets-page__title {
  font-size: 24px;
  color: #000;
  text-transform: none;
  margin: 0;
}
.tickets-page__sub-title {
  font-size: 12px;
  color: #FF473A;
  text-transform: none;
  max-width: 250px;
}
.tickets-page .order {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  position: relative;
  width: 100%;
}
.tickets-page .order__bottom {
  margin-top: 28px;
}
.tickets-page .order__top, .tickets-page .order__bottom {
  width: 100%;
  /*  position: absolute;
   bottom: 0;
   left: 0; */
}
.tickets-page .order__header {
  font-size: 18px;
  color: #D4D4D4;
  text-transform: none;
  border-bottom: 2px solid #f4f5f2;
  margin: 0 auto;
  width: 100%;
}
.tickets-page .order__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
.tickets-page .order__title.active {
  color: #000;
  border-bottom: 3px solid #FF473A;
  padding-bottom: 12px;
}
.tickets-page .order__sub-title {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #000;
  text-transform: none;
}
.tickets-page__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.tickets-page__list .list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 0 9px;
}
.tickets-page__list .list-item__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.tickets-page__list .list-item__name {
  font-size: 18px;
  color: #000;
  text-transform: none;
}
.tickets-page__list .list-item__sub {
  font-size: 12px;
  color: #D4D4D4;
  text-transform: none;
}
.tickets-page__list .list-item__counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 100px;
  color: #D4D4D4;
}
.tickets-page__list .list-item__counter .counter-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border: 1px solid #D4D4D4;
  color: inherit;
  outline: 0;
  background: transparent;
}
.tickets-page__list .list-item__counter .counter-number {
  font-size: 18px;
  color: inherit;
  text-transform: none;
  text-align: center;
  width: 20px;
}
.tickets-page__list .list-item__counter .counter-number.active {
  color: #000;
}
.tickets-page .total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #FF473A;
  margin: 42px 0 36px 0;
  padding: 0 9px;
}
.tickets-page .total-price__value {
  width: 100px;
  text-align: center;
}
.tickets-page .order-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tickets-page .order-btn-container .order-btn {
  background-color: #FF473A;
  color: #fff;
  font-size: 12px;
  padding: 12px 0;
  width: 248px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=styles.css.map */